
#ProfPicHolder {

	width: 200px;
	height: 200px;
	background: #999;

}

body {
	background-color: lightgrey;
}

header {

	margin: 0;
	padding: 0;
	clear: both;
	overflow: auto;
	background-color: #ffffff;
	width: 100%;
}

h1 {
	
	float: left;
	padding: 0;
	margin: 0;
	background-color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: white;
	font-size: 25px;

}

nav {
	float:right;
}

nav ul {

	list-style: none;
	float: right;
}

nav ul li {
	display: inline;
	padding: 0;
}

#content {
	clear: both;
	overflow: auto;
	width: 960px;
	padding: 10px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;

}

section {

	float: left;
	border-style: solid;
	padding: 10px 10px;
	width: 60%;
	background-color: #ffffff;
	border-color: #777777;
	border-width: 1px;
}

article {
	font-size: 16px;

}

h2 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5;
}

aside {

	float: right;
	border-style: solid;
	padding: 10px 10px;
	width: 30%;
	background-color: #ffffff;
	border-color: #777777;
	border-width: 1px;
}

h3 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5;
}

#ContactLinks {
	float:left;
	padding: 10px 10px;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: #666666;
	padding: 20px;
	width: 100%;
	border-top: solid 6px;
	border-color: #4aaaa5;
	text-align: center;
	color: #ffffff;
}
