

.fixed {

	height: 40px;
	width: 70px;
	background: #999;
	position: fixed;
	top: 0;
	left: 0;

}

.relative {

	height: 100px;
	width: 90%;
	background: #eee;
	position: relative;
}

.absolute {

	position: absolute;
	right: -10px;
	bottom: 0;
	height: 40px;
	width: 60px;
	background: #999;
	
}